<h2 class="col-ms col-sm-6">Parqueadero Ceiba</h2>
<div class=" col-ms-12 col-sm-12">
  <span routerLink="/registrarVehiculo" routerLinkActive="active" class="btn btn-secondary btn-xs ">Registrar Vehículo </span>
  <span [routerLink]="['/registrarSalida','']" routerLinkActive="active" class="btn btn-secondary btn-xs "> Registrar Salida Vehículo  </span>
  <span routerLink="/consultarVehiculo" routerLinkActive="active" class="btn btn-secondary btn-xs ">Consultar Vehículo</span>
</div>

<router-outlet></router-outlet>

<!-- Custom modal setup -->
<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>

