<div class="row">
  <div class="col-md-3"></div>
  <app-alert-modal class="col-md-6 col-md-offset-3" [mensaje]="mensaje"></app-alert-modal>
  <div class="col-md-3"></div>
  <div class="formulario-registro col-md-6 col-md-offset-3 " >
    <h3 class="col-ms col-sm-12">Registrar Salida Vehiculo</h3>
    <form #formRegistro="ngForm" >
      <div *ngIf="!hayResultado">
        <div class="col-ms-12 col-sm-12">
          <dt>
            <label> Placa Vehiculo: </label>
          </dt>
          <div>
            <input type="text" [(ngModel)]="vehiculo.placa" required 
                   placeholder="Ingrese placa" class="form-control" name="placa" #placa="ngModel"
                   formControlname="placa">
          </div>
        </div>
        <br>
        <div class="text-right col-ms-12 col-sm-12">
          <button class="btn btn-primary" (click)="registrarSalida()" [disabled]="!formRegistro.valid"> Facturar salidad vehiculo </button>
        </div>
      </div>

      <div *ngIf="hayResultado">
        <div class="formulario-registro col-xs-12 col-sm-12 col-lg-12 " *ngIf ="vehiculo.tipoVehiculo != null">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <dt>
                <label> Placa Vehiculo: {{vehiculo.placa}}</label>
              </dt>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <dt>
                <label> Tipo de vehiculo: {{vehiculo.tipoVehiculo}}</label>
              </dt>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
              <dt>
                <label> Fecha ingreso: {{vehiculo.fechaIngreso | date : "dd/MM/yyyy - HH:mm"}}</label>
              </dt>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6" *ngIf ="vehiculo.tipoVehiculo == 'MOTO'">
              <dt>
                <label> Cilindraje: {{vehiculo.cilindraje}}</label>
              </dt>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6" >
              <dt>
                <label class="total-pago"> Valor a pagar: {{vehiculo.valorTotal}}</label>
              </dt>
            </div>
          </div>
        </div>
        <div class="text-right col-ms-12 col-sm-12">
          <button class="btn btn-success" (click)="aceptarResultado()"> Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</div>