<div class="row">
  <div class="col-md-3"></div>
  <app-alert-modal class="col-md-6 col-md-offset-3" [mensaje]="mensaje" [tipoMensaje]="tipoMensaje" ></app-alert-modal>
  <div class="col-md-3"></div>
  <div class="formulario-registro col-md-6 col-md-offset-3 " >

    <h3 class="col-ms col-sm-12">Registrar Ingreso Vehículos</h3>
    <form #formRegistro="ngForm" >

      <div class="col-ms-12 col-sm-12">
        <dt>
          <label> Placa vehículo: </label>
        </dt>
        <div>
          <input type="text" [(ngModel)]="vehiculo.placa" required 
                 placeholder="Ingrese placa" class="form-control" name="placa" #placa="ngModel"
                 formControlname="placa">
        </div>
      </div>

      <div class="col-ms-12 col-sm-12">
        <dt>
          <label> Tipo de vehículo: </label>
        </dt>
        <div>
          <!--input type="text" required [(ngModel)]="vehiculo.tipoVehiculo" 
placeholder="Ingrese tipo vehiculo" class="form-control" name="tipo"
formControlname="tipoVehiculo"-->
          <select name="tipo" [(ngModel)]="vehiculo.tipoVehiculo" required placeholder="Ingrese tipo vehiculo" class="form-control" >
            <option *ngFor="let tipo of tipoVehiculo"
                    [value]="tipo">{{tipo}}</option>
          </select>
        </div>
      </div>

      <div class="col-ms-12 col-sm-12" *ngIf ="vehiculo.tipoVehiculo =='MOTO'">
        <dt>
          <label> Ingrese Cilindraje: </label>
        </dt>
        <div>
          <input type="number" [(ngModel)]="vehiculo.cilindraje" required 
                 placeholder="Ingrese cilindraje" class="form-control" name="cilindraje" #cilindraje="ngModel"
                 formControlname="cilindraje">
        </div>
      </div>


      <br>
      <div class="text-right col-ms-12 col-sm-12">
        <button class="btn btn-primary" (click)="registrarVehiculo()" [disabled]="!formRegistro.valid"> Registrar Vehículo </button>
      </div>
    </form>
  </div>

</div>
